<a href="https://colab.research.google.com/github/KennethTBarrett/DS-Unit-2-Applied-Modeling/blob/master/module2-wrangle-ml-datasets/LS_DS_232_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Wrangle ML datasets

- [x] Continue to clean and explore your data. 
- [x] For the evaluation metric you chose, what score would you get just by guessing?
- [x] Can you make a fast, first model that beats guessing?

**We recommend that you use your portfolio project dataset for all assignments this sprint.**

**But if you aren't ready yet, or you want more practice, then use the New York City property sales dataset for today's assignment.** Follow the instructions below, to just keep a subset for the Tribeca neighborhood, and remove outliers or dirty data. [Here's a video walkthrough](https://youtu.be/pPWFw8UtBVg?t=584) you can refer to if you get stuck or want hints!

- Data Source: [NYC OpenData: NYC Citywide Rolling Calendar Sales](https://data.cityofnewyork.us/dataset/NYC-Citywide-Rolling-Calendar-Sales/usep-8jbt)
- Glossary: [NYC Department of Finance: Rolling Sales Data](https://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page)

# Setup Code

In [90]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_table('Year Totals.txt')

df.head()

df_1 = df.copy()

df_1 = df_1.drop(columns = ['Notes', 'Year Code', 'State Code']).sort_values(by = 'Year')

df_1

      Year          State  Deaths  Population  Crude Rate
0     1999        Alabama     555     4430141          13
28    1999         Nevada     404     1934718          21
29    1999  New Hampshire     137     1222014          11
30    1999     New Jersey     563     8359592           7
31    1999     New Mexico     318     1808082          18
...    ...            ...     ...         ...         ...
989   2018       Maryland     650     6042718          11
990   2018  Massachusetts     740     6902149          11
991   2018       Michigan    1548     9995915          15
993   2018    Mississippi     421     2986530          14
1019  2018        Wyoming     147      577737          25

[1020 rows x 5 columns]

In [91]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_1, train_size = 0.6)

train.shape, test.shape

((612, 5), (408, 5))

In [92]:
val, test = train_test_split(test, train_size = 0.5)

val.shape, test.shape

((204, 5), (204, 5))

In [0]:
target = 'Crude Rate'
features = train.columns.drop([target])

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

# MSE Score (Guessing)

In [94]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.3)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)

In [95]:
from sklearn.linear_model import LinearRegression
import category_encoders as ce
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_squared_error

pipeline = make_pipeline(
                          ce.OneHotEncoder(use_cat_names = True),
                         LinearRegression()
)

pipeline.fit(X_train, y_train)


model = pipeline.named_steps.linearregression
y_pred = pipeline.predict(X_val)

print(f'MSE (Guess): {mean_squared_error(y_val, y_pred)}')

MSE (Guess): 1.422326994172655

# Make a Fast First Model that Beats Guessing

In [0]:
def wrangle(X):
    X = X.copy()
    X['Is_Obama_President'] = (X['Year'] >= 2009) & (X['Year'] < 2017)
    X['Is_Trump_President'] = (X['Year'] >= 2017)
    X['Is_Election_Year'] = ((X['Year'] == 2000) | (X['Year'] == 2004) |
                            (X['Year'] == 2008) | (X['Year'] == 2012) |
                            (X['Year'] == 2016))
    return X

train = wrangle(train)
val = wrangle(val)

In [0]:
target = 'Crude Rate'
features = train.columns.drop([target])

X_train = train[features]
y_train = train[target]

X_val = val[features]
y_val = val[target]

In [99]:
pipeline = make_pipeline(
                          ce.OneHotEncoder(use_cat_names = True),
                         LinearRegression()
)

pipeline.fit(X_train, y_train)


y_pred = pipeline.predict(X_val)

print(f'MSE (New): {mean_squared_error(y_val, y_pred)}')

MSE (New): 1.3678939113041408